.library-main-container {
    width: 100%;
    padding-left: 19.3%;
    min-height: 100vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
/* LIGHT THEME */
.library-main-container.light-theme {
    background-color: #F9F9F9;
}
.library-data-container {
    padding-top:13vh;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 2%;
}
.library-user-container {
    width: 20%;
    height: 100vh;
}

.section-container {
    border-bottom: 1pt solid rgba(255, 255, 255, 0.2);
    margin-bottom: 26px;
}

/* HEADER */
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 26px;
}
.light-theme .header-container {
    color: #222222;
    fill: #222222;
}
.header-container a {
    text-decoration: none;
}
.header-container-link {
    text-decoration: none;
    color:inherit;
}
.header-container-link i {
    margin-right: 16px;
    font-size: 20px;
    opacity: 0.5;
}
.header-container-link span {
    font-weight: 500;
}
.header-container .header-seeall span {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(32, 119, 233);
    font-size: 0.85rem;
    font-weight: 600;
    margin-right:12px;
}
.header-video-count {
    margin-left: 12px;
    font-size: 0.95rem;
    opacity: 0.5;
}
/* HEADER */

.library-section-video-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* THUMBNAILS*/
.library-thumbnail {
    width:24.5%;
    height: 205px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    margin-bottom:3%;
}
.search-container--light .library-thumbnail {
    color:black;
}
.search-container--light .side-nav {
    background-color: #FFFFFF;
}

.library-thumbnail .thumb-cnt, .library-thumbnail .thumb-cnt-skeleton {
    width: 100%;
    height:60%;
    position: relative;
}
.thumb-cnt, .thumb-cnt-skeleton {
    background-color: hsl(0, 0%, 11%);
}
.search-container--light .thumb-cnt, .search-container--light .thumb-cnt-skeleton {
    background-color: #e6e6e6;
}
.thumb-title-container, .thumb-title-container-skeleton {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.skeleton-container, .thumb-infocontainer {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-16px;
}
.thumb-infocontainer {
    margin-top:10px;
    align-items: flex-start;
    justify-content: flex-start;
}
.thumb-owner, .thumb-owner img, .thumb-owner-skeleton {
    width: 36px; height: 36px; border-radius: 40px;
    margin-right: 6px;
}
.search-container--light .thumb-owner-skeleton, .search-container--light .thumb-owner {
    background-color: #e6e6e6;
}
.thumb-owner-skeleton, .thumb-owner {
    background-color: hsl(0, 0%, 11%);
}
.thumb-title-skeleton, .thumb-views-skeleton {
    width: 93%;
    height: 20px;
    border-radius: 4px;
    background-color: hsl(0, 0%, 11%);
}
.search-container--light .thumb-title-skeleton, .search-container--light .thumb-views-skeleton {
    background-color: #e6e6e6;
}
.thumb-views-skeleton {
    width: 70%;
    margin-top:12px;
}
.library-thumbnail .thumb-cnt img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.library-thumbnail .thumb-cnt span {
    position: absolute;
    bottom:1%;
    right:1%;
    padding:2px 4px;
    background-color: rgba(0,0,0,0.8);
    font-size:11px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.library-thumbnail .tmb-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom:6px;
}
.light-theme .library-thumbnail .tmb-title {
    color: #222222;
}
.library-thumbnail .tmb-channel {
    font-size:13px;
    margin-top:3px;
    margin-bottom:2px;
    color:rgb(158, 158, 158);
}
.light-theme .library-thumbnail .tmb-channel {
    color:#696969;
}
.library-thumbnail .tmb-channel span {
    display: none;
}
.library-thumbnail .tmb-views {
    font-size:11px;
    color:gray;
}
/* THUMBNAILS*/



/* USER INFO */
.library-user-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 22vh;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
}
.user-info-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-bottom: 18px;
}
.user-info-name {
    margin-bottom: 28px;
}
.light-theme .user-info-name {
    color: #222222;
}
.user-info-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.user-info-stats div {
    width: 98%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.1);
}
.light-theme .user-info-stats div {
    border-bottom: 1pt solid rgba(0, 0, 0, 0.1);
}
.user-info-stats div:first-of-type {
    border-top: 1pt solid rgba(255, 255, 255, 0.1);
}
.light-theme .user-info-stats div:first-of-type {
    border-top: 1pt solid rgba(0, 0, 0, 0.1);
}
.user-info-stats div span {
    font-size: 0.8rem;
    opacity: 0.5;
}
.light-theme .user-info-stats div span {
    color: #222222;
    opacity: 0.7;
}
/* USER INFO */