.home-results {
    padding-top:11vh;
    padding-left:2%;
    padding-right:2%;
    width: 82.5%;
    margin-left:17.5%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.search-container--light .home-results {
    padding-top:11vh;
    padding-left:2%;
    padding-right:2%;
    width: 82.5%;
    margin-left:17.5%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fafafa;
}
.section-wrapper {
    margin-bottom:3.5%;
    width:100%;
}
.section-wrapper h2 {
    font-size:20px;
    font-weight: 500;
    margin-bottom:18px;
    margin-top: 20px;
}
.search-container--light .section-wrapper h2 {
    color:black;
    font-weight: 500;
}
.big-section {
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.home-results--big {
    margin-left: 11.5% !important;
}
.home-link { 
    width:23.5%;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    margin-bottom:3%;
    margin-right:1.5%;
    position: relative;
}
.search-container--light .home-link {
    color:black;
}
.search-container--light .side-nav {
    background-color: #FFFFFF;
}

.home-link .thumb-cnt, .home-link .thumb-cnt-skeleton {
    width: 100%;
    height:60%;
    position: relative;
}
.thumb-cnt, .thumb-cnt-skeleton {
    background-color: hsl(0, 0%, 11%);
}
.search-container--light .thumb-cnt, .search-container--light .thumb-cnt-skeleton {
    background-color: #e6e6e6;
}
.thumb-title-container, .thumb-title-container-skeleton {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.skeleton-container, .thumb-infocontainer {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-16px;
}
.thumb-infocontainer {
    margin-top:10px;
    align-items: flex-start;
    justify-content: space-around;
}
.thumb-owner, .thumb-owner img, .thumb-owner-skeleton {
    width: 36px; height: 36px; border-radius: 40px;
    margin-right: 6px;
}
.search-container--light .thumb-owner-skeleton, .search-container--light .thumb-owner {
    background-color: #e6e6e6;
}
.thumb-owner-skeleton, .thumb-owner {
    background-color: hsl(0, 0%, 11%);
}
.thumb-title-skeleton, .thumb-views-skeleton {
    width: 93%;
    height: 20px;
    border-radius: 4px;
    background-color: hsl(0, 0%, 11%);
}
.search-container--light .thumb-title-skeleton, .search-container--light .thumb-views-skeleton {
    background-color: #e6e6e6;
}
.thumb-views-skeleton {
    width: 70%;
    margin-top:12px;
}
.home-link .thumb-cnt img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.home-link .thumb-cnt span {
    position: absolute;
    bottom:1%;
    right:1%;
    padding:2px 4px;
    background-color: rgba(0,0,0,0.8);
    font-size:11px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.home-link .tmb-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom:6px;
}
.home-link .tmb-channel {
    font-size:13px;
    margin-top:3px;
    margin-bottom:2px;
    color:rgb(158, 158, 158);
    display: flex;
    align-items: center;
}
.home-link .tmb-channel span {
    white-space: nowrap;
}
.home-link .tmb-channel .mobile-views {
    display: none;
}
.home-link .tmb-views {
    font-size:11px;
    color:gray;
}