nav {
    width:100%;
    height:8.5vh;
    background-color:#222222;
    z-index: 2000;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 15px;
    transition: 0.3s linear background, color;
}
.nav--light {
    background-color:#FFFFFF !important;
}

.burger {
    width: 24px;
    height:24px;
    display: grid;
    place-items: center;
    padding: 3px;
    cursor: pointer;
}
.burger span {
    width:100%;
    height:15%;
    background-color: white;
    position: relative;
}
.nav--light .burger span, .nav--light .burger span::after, .nav--light .burger span::before {
    background-color: black;
}
.burger span::after, .burger span::before {
    width:100%;
    height:100%;
    background-color: white;
}
.burger span::after {
    content:"";
    position:absolute;
    transform: translateY(-180%);
}
.burger span::before {
    content:"";
    position:absolute;
    transform: translateY(180%);
}
.logoyt {
    width:70%;
    height:33%;
    background-image: url('../../assets/dark_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.nav--light .logoyt {
    background-image: url('../../assets/light_logo.png');
}


.searchbar--container {
    margin-left:1%;
    width:49%;
    height:60%;
    background-color: aliceblue;
    position:relative;
}
.mobile-search {
    display: none;
}
form {
    width:100%;
    height:100%;
    max-height: 590px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position:relative;
}
.searchbar--container input[type=text] {
    width:90%;
    height:100%;
    border:none;
    padding-left:10px;
    font-size: 16px;
    background-color: #121212;
    border:1px solid hsl(0, 0%, 18.82%);
    box-sizing: border-box;
    color:white;
}
.nav--light .searchbar--container input[type=text] {
    background-color: #FFFFFF;
    border:1px solid #ccc;
    color:black;
}
.button-submit-container {
    width: 10%;
    height: 100%;
    display: flex;
}
.searchbar--container button {
    width:100%;
    height:100%;
    border:none;
    padding:0;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    color:white;
    position:relative;
    outline:none;
    background-color:hsl(0, 0%, 18%)
}
.nav--light .searchbar--container button {
    background-color: #FBFBFB;
    border:1px solid #d3d3d3;
}
.nav--light .searchbar--container button i {
    color:#c6c6c6 !important;
}
.searchbar--container input[type=text]:focus {
    color:white;
    border:1pt solid #1565C0;
}
.nav--light .searchbar--container input[type=text]:focus {
    color:black;
    border:1pt solid #1565C0;
}
.logomenu--container {
    width:11%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userinfo--container {
    width:15%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.userinfo--container.sign-in {
    width: 20%;
}
.userinfo--container img {
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit: cover;
    cursor:pointer;
}
.userinfo--container i {
    color:white;
    cursor: pointer;
}
.nav--light .userinfo--container i {
    color:black;
}



/* DROPDOWN MENU */
.dropdown-menu-dark {
    width:300px;
    height: 265px;
    background-color: #282828;
    position:absolute;
    right:18px;
    top:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav--light .dropdown-menu-dark {
    width:300px;
    height: 265px;
    background-color: #ffffff;
    position:absolute;
    right:18px;
    top:50px;
    border:1px solid #e5e5e5;
    color:#060606;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-dark .dark-theme-title {
    width:100%;
    height:23.5%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.2);
}
.dark-theme-title i {
    margin-right: 10px;
}
.dark-theme-title span {
    font-size: 17px;
    font-weight: 400;
}
.dropdown-menu-dark .dark-theme-desc {
    width:100%;
    height:55%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.dark-theme-desc p {
    font-size: 14px;
    font-weight: 400;
}
.dropdown-menu-dark .dark-theme-action {
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 40px;
}
.dark-theme-action span {
    color: rgba(255, 255, 255, 0.45);
}
.nav--light .dark-theme-action span {
    color: rgba(0, 0, 0, 0.65);
}
.dropdown-menu {
    width:300px;
    height: 713px;
    background-color: #282828;
    position:absolute;
    right:76px;
    top:4px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border:1px solid #3e3e3e;
}
.nav--light .dropdown-menu {
    width:300px;
    height: 713px;
    background-color: #ffffff;
    color:#060606;
    position:absolute;
    right:76px;
    top:10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border:1px solid #e5e5e5;
}
.dropdown-link {
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    text-decoration: none;
    padding-left: 7.5%;
    padding-right: 7.5%;
    font-size: 14px;
}
.dropdown-link i:nth-child(1) {
    margin-right: 18px;
    color: #5c5c5c;
}
.nav--light .dropdown-link {
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    text-decoration: none;
    font-size: 14px;
}
.dropdown-link:hover {
    background-color: hsl(0, 0%, 18%);
}
.nav--light .dropdown-link:hover {
    background-color: hsl(0, 0%, 90%);
}
.personal-info {
    width:100%;
    height:103px;
    padding:15px 5px 5px 15px;
    border-bottom:1px solid #3e3e3e;
}
.nav--light .personal-info {
    width:100%;
    height:103px;
    padding:15px 5px 5px 15px;
    border-bottom:1px solid #e5e5e5;
}
.personal-info--container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:auto;
}
.personal-info--container span:nth-child(1) {
    font-size:16px;
    margin-bottom:5px;
}
.personal-info--container span:nth-child(2) {
    font-size:14px;
    margin-bottom:6px;
}
.personal-info--container img {
    width:40px;
    height:40px;
    margin-right:15px;
}
.personal-info a {
    font-size:14px !important;
    font-family: "Roboto" !important;
    padding-left:55px;
}
.personal-info--container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.account-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:217px;
    border-bottom:1px solid #3e3e3e;
}
.nav--light .account-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:217px;
    border-bottom:1px solid #e5e5e5;
}
.account-settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:297px;
    border-bottom:1px solid #3e3e3e;
}
.nav--light .account-settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:297px;
    border-bottom:1px solid #e5e5e5;
}
.geo-settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:96px;
    border-bottom:1px solid #e5e5e5;
}
.nav--light .geo-settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:96px;
    border-bottom:1px solid #e5e5e5;
}


.side-nav {
    width:17.5vw;
    height:100vh;
    background: #1c1c1c;
    position:fixed;
    z-index: 2;
    overflow:hidden;
    transition: 0.2s ease-in-out all;
}
.side-nav .login-btn {
    width: 50%;
}
.side-nav--light {
    background-color: #ffffff;
}
.side-nav--light span, .side-nav--light is {
    color: #606060;
}
.side-nav--light .sidenav-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.overflow-section {
    width:100%;
    height:91.5vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.overflow-section::-webkit-scrollbar-corner {
    color: red !important;
}
/* .overflow-section:hover::-webkit-scrollbar {
    width:auto;
} */
.overflow-section:hover {
    scrollbar-width: auto !important;
}
.sidenav-home--unactive .overflow-section {
    display: none;
}
.unactive-items-container {
    display: none;
    margin-top:8%;
}
.sidenav-home--unactive .unactive-items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}
.sidenavunactive-item-container {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #909090;
}
.sidenavunactive-item-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidenavunactive-item-container span {
    font-size: 10px;
    margin-top: 8px;
}
.sidenavunactive-item-container i {
    font-size: 22px !important;
}
.sidenav-path-active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.search-container--light .sidenav-path-active,
.side-nav--light .overflow-section .sidenav-path-active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.sidenav-path-active span, .sidenav-path-active i, .sidenav-path-active {
    color: white;
}
.search-container--light .sidenav-path-active span,
.search-container--light .sidenav-path-active i,
.search-container--light .sidenav-path-active,
.side-nav--light .overflow-section .sidenav-path-active i,
.side-nav--light .overflow-section .sidenav-path-active .sidenav-icon
{
    color: red !important;
    fill: red !important;
}
.login-btn {
    position:relative;
    border:1pt solid #0660d7;
    background-color:transparent;
    width: 45%;
    height: 70%;
    display:flex;
    justify-content: space-between !important;
    align-items: center;
    cursor: pointer;
}
.login-btn div {
    width: 25px;
    height:25px;
    border-radius: 30px;
    background-color: #0660d7;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-btn div i {
    color: white !important;
}
.login-btn span {
    font-size:0.9rem;
    text-transform: uppercase;
    color: #0660d7;
    font-weight: 500;
}
.sidenav--active {
    position:fixed !important;
    z-index: 9999999 !important;
    top:0;
    left:0;
}
.sidenav--unactive {
    transform: translateX(-100%);
    z-index: 9999999 !important;
}
.sidenav-backdrop {
    position: fixed;
    top:0; left:0; width:100%; height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999998;
}


.sidenav-home--active {
    transition: none;
}
.sidenav-home--unactive {
    width:5.5% !important;
    transition: none;
}
.sidenav-header {
    width:100%;
    height:8.5vh;
    padding-left: 12px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.15);
}
.sidenav-sections {
    width:100%;
    height:23vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.15);
}
.sidenav-playlists {
    width:100%;
    height:40vh;
    padding:15px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.15);
}
.sidenav-playlists-expanded {
    height:auto !important;
}
.sidenav-subs {
    width:100%;
    display:block;
    padding: 10px 0px;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.15);
}
.sidenav-link, .sidenav-link:visited, .sidenav-link:link {
    width:100%;
    height:6.5vh;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    cursor:pointer;
    text-decoration: none !important;
    color: inherit;
}
.sidenav-link img {
    width: 26px;
    height: 26px;
    border-radius: 26px;
}
.subscriptions-header {
    padding: 16px 28px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 500;
    height: 50px;
    font-size: 0.9rem;
    margin-bottom: 10px !important;
}
.sidenav-link a, .sidenav-link span {
    font-size: 14px;
    width:100%;
    padding-left: 28px;
    text-align: left;
    text-decoration: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.subscription-link span span {
    padding-left: 22px;
}
.subscription-link:first-of-type {
    margin-top: 10px;
}
.sidenav-link i {
    text-decoration: none !important;
    font-size: 22px;
    color: rgb(126, 126, 126);
}
.sidenav-link .sidenav-icon {
    text-decoration: none !important;
    width: 25px;
    height: 25px;
    fill:  rgb(126, 126, 126);
}
.rotate-icon {
    transform: rotate(180deg);
}
.arrow-icon svg {
    /* transform: scale(0.8); */
}
.sidenav-link.sidenav-path-active i, .sidenav-link.sidenav-path-active .sidenav-icon {
    color: white;
    fill: white;
}
.sidenav-link.sidenav-path-active span span {
    font-weight: bolder;
}
.search-container--light .sidenav-link span span,
.side-nav--light .overflow-section .sidenav-path-active span span {
    color: #060606 !important;
}
.sidenav-link:hover {
    background-color: rgba(255, 255, 255, 0.26) !important;
}


#modal-container {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:450000;
    display:grid;
    place-items:center;
}
#modal-out {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.45);
}
.playlist-form-container {
    width:18%;
    height:auto;
    min-height:182px;
    max-height:60%;
    background-color:#212121;
    z-index:2201;
    border-radius:1.5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #EEE;
}
.root--light .playlist-form-container {
    background-color:#FFF;
    color:#212121;
}
.download-container {
    width: 50%;
    height: 60%;
    background-color:white;
    border-radius: 5px;
    z-index: 12000;
    overflow-y: auto;
    color:black;
}
.form-header {
    min-height:44px;
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 25px;
}
.form-header i {
    cursor: pointer;
}
.playlist-scroll {
    width:100%;
    height:auto;
    min-height:100px;
    max-height:220px;
    overflow-y:auto;
    padding:5px 25px;
    border-top:1pt solid #333;
    border-bottom:1pt solid #333;
}
.root--light .playlist-scroll {
    border-top:1pt solid #DDD;
    border-bottom:1pt solid #DDD;
}
.playlist-scroll label {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:50px;
    font-size:0.9em;
    cursor:pointer;
}
.playlist-scroll .box-checking {
    width: 20px;
    height: 20px;
    border: 2pt #444 solid;
    border-radius: 2px;
    margin-right: 15px;
}
.playlist-scroll .box-checking div {
    transition: 0.1s linear all;
    width: 100%;
    height: 100%;
    background-color: #065fd4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist-scroll .box-checking div i {
    color: #212121;
    font-size: 14px;
}
.root--light .playlist-scroll .box-checking div i {
    color:#FFF;
}
.playlist-scroll .box-checking .box-uncheked {
    opacity: 0;
    transform: scale(0.7);
}
.playlist-scroll input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top:0; left:0;
}
.add-new-playlist {
    min-height:38px;
    width:100%;
    height:25%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.9em;
    cursor:pointer;
}

.playlist-name-form {
    width:100%;
    min-height:50px;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:50px 30px;
}
.playlist-group-form {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}
.playlist-group-form div, .playlist-group-form input {
    width:100%;
    height:24px;
    outline: none;
    border:1pt solid transparent;
    border-bottom: 1pt solid #333;
    cursor: pointer;
    background-color: #212121;
}
.root--light .playlist-group-form div, .playlist-group-form input {
    background-color: #FFF;
    border-bottom: 1pt solid #DDD;
}
.playlist-group-form div, .playlist-group-form input::placeholder {
    color:#555;
}
.playlist-name-form label {
    font-size:0.8em;
}
.select-privacy {
    position:relative;
    padding:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-playlist {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    color:#065fd4;
    cursor: pointer;
}
.privacy-container {
    width:130% !important;
    height:180px !important;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
    position:absolute;
    top:0;
    left:0;
    background: #FFFFFF;
    z-index:2300;
    border:0 !important;
}
.privacy-container div {
    width:100%;
    height:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    border:0 !important;
}
.privacy-container div:hover {
    background:rgb(230, 230, 230);
    cursor: pointer;
}
.select-privacy span {
    width:100%;
    height:100%;
}
.active-privacy {
    border:none !important;
    font-size: 0.8rem;
}
.search-suggestion-container {
    position:absolute;
    bottom: -10px;
    left: 0;
    transform: translateY(100%);
    width:89.7%;
    height: auto;
    min-height: 40px;
    background-color:#FFFFFF;
    padding:10px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 90000000;
}
.suggestion-item {
    width: 100%;
    height: 31px;
    padding-left: 16px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.suggestion-item-highlighted {
    background-color: #DDDDDD;
}
.suggestion-item:hover {
    cursor: default;
}
.suggestion-item span {
    color:black;
}


.bottom-navbar{
    width:100%;
    height: 6.5vh;
    justify-content: space-around;
    align-items: center;
    padding:0px 5px;
    display: none;
    position:fixed;
    bottom:0; left:0;
    background-color:hsl(0, 0%, 7%);
    border-top: 1pt solid #323232;
    font-size: 12px;
    padding: 0px 8px;
}
.bottom-navbar span {
    font-size: 11px;
    font-weight: 400;
}
.nav--light .bottom-navbar {
    background-color: white;
    border-top: 1pt solid #ccc;
}
.bottom-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color:#909090;
}
.bottom-navbar .icon-active {
    color:white;
}
.nav--light .bottom-navbar .icon-active {
    color: red !important;
}
.bottom-icon i {
    font-size: 18px;
    margin-bottom: 2px;
}
.close-search--btn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 2px;
}