@import "../../assets/sass/colors";
@import "../../assets//sass/mixins";

nav {
  width: 100%;
  height: 8.5vh;
  background-color: $dark-navbar-background-color;
  z-index: 2000;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 26px;
  transition: 0.3s linear background, color;
  @include responsiveTabletPortraitSize {
    height: 5vh !important;
  }
  @include responsiveTabletLandscapeSize {
    width: 100vw;
  }
  .logomenu--container {
    width: 11%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .burger {
      width: 22px;
      height: 24px;
      display: grid;
      place-items: center;
      padding: 2px;
      cursor: pointer;
      span {
        width: 100%;
        height: 2px;
        background-color: $dark-navbar-burger-menu-color;
        position: relative;
      }
      span::after,
      span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $dark-navbar-burger-menu-color;
      }
      span::after {
        transform: translateY(-5px);
      }
      span::before {
        transform: translateY(5px);
      }
    }
    .logoyt {
      width: 105px;
      height: 50px;
      background-image: url("../../assets/dark_logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .searchbar--container {
    margin-left: 1%;
    width: 49%;
    height: 60%;
    position: relative;
    @include responsivePhoneSize {
    }
    form {
      width: 100%;
      height: 100%;
      max-height: 590px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      position: relative;
      input[type="text"] {
        width: 90%;
        height: 100%;
        border: none;
        padding-left: 10px;
        font-size: 16px;
        background-color: $dark-navbar-input-background-color;
        border: 1px solid $dark-navbar-input-border-color;
        box-sizing: border-box;
        color: $dark-navbar-input-text-color;
        @include responsivePhoneSize {
        }
        &:focus {
          color: $dark-navbar-input-text-color;
          border: 1pt solid $onfocus-border-color;
          @include responsivePhoneSize {
            border-bottom: 2pt solid $onfocus-border-color !important;
          }
        }
      }
      .button-submit-container {
        width: 10%;
        height: 100%;
        display: flex;
        button {
          width: 100%;
          height: 100%;
          border: none;
          padding: 0;
          cursor: pointer;
          display: block;
          box-sizing: border-box;
          position: relative;
          outline: none;
          background-color: $dark-navbar-input-button-background-color;
        }
        i {
          color: $dark-navbar-input-button-icon-color !important;
        }
      }
    }
  }
  .userinfo--container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.sign-in {
      width: auto;
    }
    .pfl-img {
      @include responsiveTabletPortraitSize {
        display: none;
      }
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      @include responsivePhoneSize {
        width: 24px;
        height: 24px;
      }
    }
    .sign-in-icon {
      width: 20px;
      height: 20px;
      fill: $dark-navbar-icons-color;
      cursor: pointer;
      margin-right: 32px;
      @include responsiveNavSize {
        display: none;
      }
    }
    .login-btn {
      i {
        margin: 0;
      }
    }
  }
  // light-theme
  &.nav--light {
    background-color: $light-navbar-background-color;
    .burger {
      span,
      span::after,
      span::before {
        background-color: $light-navbar-burger-menu-color;
      }
    }
    .logoyt {
      background-image: url("../../assets/light_logo.png");
    }
    .searchbar--container {
      form {
        input[type="text"] {
          background-color: $light-navbar-input-background-color;
          border: 1px solid $light-navbar-input-border-color;
          color: $light-navbar-input-text-color;
          &:focus {
            color: $light-navbar-input-text-color;
            border: 1pt solid $onfocus-border-color;
          }
        }
        .button-submit-container {
          width: 10%;
          height: 100%;
          display: flex;
          button {
            background-color: $light-navbar-input-button-background-color;
            border: 1px solid $light-navbar-input-border-color;
            i {
              color: $light-navbar-input-button-icon-color !important;
            }
          }
        }
      }
    }
    .userinfo--container {
      .sign-in-icon {
        fill: $light-navbar-icons-color !important;
      }
    }
  }
}

.mobile-search {
  display: none;
  @include responsiveNavSize {
    display: flex;
    margin-right: 10px;
  }
}

// LOGIN BUTTON
.login-btn {
  position: relative;
  border: 1pt solid #0660d7;
  background-color: transparent;
  width: auto;
  height: 70%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  cursor: pointer;
  span {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #0660d7;
    font-weight: 500;
    margin-left: 8px;
  }
  div {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #0660d7;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: white !important;
    }
  }
}

.rotate-icon {
  transform: rotate(180deg);
}

// SEARCH SUGGESTION
.search-suggestion-container {
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translateY(100%);
  width: 89.7%;
  height: auto;
  min-height: 40px;
  background-color: #ffffff;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 90000000;
  @include responsivePhoneSize {
    bottom: 1px !important;
    min-height: none;
    height: auto !important;
    width: 100% !important;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .suggestion-item {
    width: 100%;
    height: 31px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    @include responsivePhoneSize {
      border-bottom: 1pt solid rgba(0, 0, 0, 0.1);
      height: 46px !important;
    }
    span {
      color: black;
      @include responsivePhoneSize {
        font-weight: 500;
      }
    }
    &.suggestion-item-highlighted {
      background-color: #dddddd;
    }
    &:hover {
      cursor: default;
    }
  }
}

// BOTTOM NAVBAR
.bottom-navbar {
  width: 100%;
  height: 6.5vh;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 7%);
  border-top: 1pt solid #323232;
  font-size: 12px;
  padding: 0px 8px;
  z-index: 55;
}
.bottom-navbar-icon {
  width: 22px;
  height: 22px;
  color: #909090;
  fill: #909090;
}
.icon-active .bottom-navbar-icon {
  color: white;
  fill: white;
}
.bottom-navbar span {
  font-size: 11px;
  font-weight: 400;
}
.nav--light .bottom-navbar {
  background-color: white;
  border-top: 1pt solid #ccc;
}
.bottom-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: #909090;
}
.bottom-navbar .icon-active {
  color: white;
}
.nav--light .bottom-navbar .icon-active .bottom-navbar-icon,
.nav--light .bottom-navbar .icon-active {
  color: black;
  fill: red !important;
}
.bottom-icon i {
  font-size: 18px;
  margin-bottom: 2px;
}
.close-search--btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 2px;
}

.mobile-search {
  @include responsiveNavSize {
    color: gray !important;
  }
}
.mobile-search--active {
  height: 100% !important;
}

.nav,
.nav--light {
  @include responsiveNavSize {
    height: 6.5vh;
    position: fixed !important;
    top: 0;
    left: 0;
    margin: 0 !important;
  }
}
.side-nav {
  @include responsiveNavSize {
    display: none;
  }
}
.burger {
  @include responsiveNavSize {
    display: none !important;
  }
}
.logomenu--container {
  @include responsiveNavSize {
    width: 46% !important;
  }
}
.searchbar--container {
  @include responsiveNavSize {
    display: none;
  }
}
.userinfo--container {
  @include responsiveNavSize {
    justify-content: flex-end !important;
    width: 60% !important;
  }
}
.userinfo--container .search-btn {
  @include responsiveNavSize {
    display: flex !important;
  }
}
.login-btn div {
  @include responsiveNavSize {
    display: none !important;
  }
}
nav button {
  @include responsiveNavSize {
    background-color: #121212 !important;
    border: 1pt solid transparent !important;
  }
}
.nav--light button {
  @include responsiveNavSize {
    background-color: white !important;
    border: 1pt solid transparent !important;
  }
}
nav input {
  @include responsiveNavSize {
    border: none !important;
  }
}
.close-search--btn {
  @include responsiveNavSize {
    display: flex !important;
    background-color: #121212 !important;
  }
}
.nav--light .close-search--btn {
  @include responsiveNavSize {
    background-color: white !important;
  }
}
.close-search--btn i {
  @include responsiveNavSize {
    padding-left: 4px;
  }
}
.bottom-navbar {
  @include responsiveNavSize {
    display: flex !important;
  }
}

.mobile-search--active {
  display: none;
  @include responsiveNavSize {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    z-index: 999999 !important;
    margin: 0 !important;
  }
}

.search-suggestion-container {
  @include responsiveNavSize {
    width: 100% !important;
    z-index: 9999 !important;
    bottom: 0px !important;
    height: 93.5vh !important;
  }
}
