.tooltip-container {
    width: auto;
    height: auto;
    position: relative;
}
.tooltip-container-absolute {
    width: auto;
    height: auto;
}
.tooltip {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    color: white !important;
    background-color: rgba(83, 83, 83, 0.925);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    white-space: nowrap;
    z-index: 15000;
}
.tooltip-top {
    top: -50px;
}
.tooltip-down {
    bottom: -60px;
}
.tooltip-container-absolute .tooltip {
    top: -30px !important;
}