$red: #FF0000;
$onfocus-border-color: #1565C0;

// navbar
$dark-navbar-background-color: rgba(33, 33, 33, 0.98);
$dark-navbar-input-background-color: #121212;
$dark-navbar-input-border-color: #303030;
$dark-navbar-input-placeholder-color: #ffffffb3;
$dark-navbar-input-text-color: #FFFFFF;
$dark-navbar-input-button-background-color: #323232;
$dark-navbar-input-button-color: #ffffffb3;
$dark-navbar-input-button-icon-color: #ffffffb3; // pending
$dark-navbar-icons-color: #FFFFFF;
$dark-navbar-burger-menu-color: #FFFFFF;

$light-navbar-background-color: #FFFFFF;
$light-navbar-input-background-color: #FFFFFF;
$light-navbar-input-border-color: #CCCCCC;
$light-navbar-input-placeholder-color: #7F7F7F;
$light-navbar-input-text-color: #000000;
$light-navbar-input-button-background-color: #F8F8F8;
$light-navbar-input-button-color: #ffffffb3;
$light-navbar-input-button-icon-color: #22222fb3; // pending
$light-navbar-icons-color: #606060;
$light-navbar-burger-menu-color: #000000;

// main app
